.profile{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    background-color: gainsboro;
}
.description{
    background-color: white;
    text-align: center;
    padding: 30px;
}

.avatar{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gainsboro;
}


.name{
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.25;
}

.location, .tag{
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.25;
    color: dimgrey;
}

.stats{
    display: flex;
    
    width:300px;
    text-align: center;
    background-color:ghostwhite ;
}

.stats li{
    padding: 20px 10px;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid grey;
}

.label{
    font-size: 18px;
    line-height: 1.25;
    color:dimgrey;
    margin-bottom: 8px;
  
}

.quantity{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.25;
    letter-spacing:1px;
}

/* *{
    outline: 1px solid tomato;
} */